<div class="row text-center">
  <img src="images/<%= @image %>">
  <h1 id="no"><%= @no %><h1>

  <a href="/no"><button  type="button" class="btn btn-primary btn-lg" href="/no">but really, did jeff win at ping pong?</button></a>

</div>
